# * ********************************************************************************************************* *
# *
# * Copyright 2024 NXP
# *
# * SPDX-License-Identifier: BSD-3-Clause
# * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
# * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
# *
# * ********************************************************************************************************* *

wasmtime==24.0.0
pyusb==1.2.1
hidapi==0.14.0.post4; sys_platform == 'darwin' or sys_platform == 'win32'
libusb_package
